<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="bathMapsMain.html">
    <h3 class="leftpad"> <b> Closest Bathrooms to You... </b> </h3>
    <widget-list list="item in items.value track by item.title" render="ready">
        <div class="container">
            <div class="item item-icon-right item-text-wrap">
                <b ng-bind-html="::item.title"></b>
                <p>
                    <b>Ratings:</b> {{item.ratings}}/5
                    <br/>
                </p>
                <p>
                    <b>Distance:</b> {{::item.distance}}m
                    <br/>
                </p>
            </div>
            <div clickable ng-click="showMap(item)" align="right">
                <p>
                    <h6 class="padd"> Go!
                    <i class="icon ion-man"></i>
                    <i class="icon ion-woman"></i>
                        </h6>
                </p>
            </div>
        </div>
    </widget-list>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="bathMapsMap.html">
    <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
    <wr>
        <wc>
            <h2 class="leftpad">{{detailsItem.title}}</h2>
            <img src= https://uwaterloo.ca/map/api/indoor-maps/tiles/53929e7ba0d4c646102d3004/10/0_1.png alt="map" style="width:304px;height:228px;"/>

        </wc>
        <wc>
            <h5 class="leftpad">Please rate your bathroom experience:</h5>
            <form class="leftpad"ng-submit="submitRating(detailsItem.title)">
                <input type="radio" name="rating" ng-model="rating.value" value="1" /> 1 &nbsp;
                <input type="radio" name="rating" ng-model="rating.value" value="2" /> 2 &nbsp;
                <input type="radio" name="rating" ng-model="rating.value" value="3" /> 3 &nbsp;
                <input type="radio" name="rating" ng-model="rating.value" value="4" /> 4 &nbsp;
                <input type="radio" name="rating" ng-model="rating.value" value="5" /> 5 &nbsp;
                <br/> <br/> <input type="submit" class="button" value="Submit"/>
            </form> 
        </wc>
    </wr>
</script>