<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="bathMapsMain.html">
    <h3 class="leftpad"> <b> Closest Bathrooms to You... </b> </h3>
    <widget-list list="item in items track by item.title" render="ready">
        <div class="container">
            <div class="item item-icon-right item-text-wrap">
                <b ng-bind-html="::item.title"></b>
                <p>
                    <b>Ratings:</b> {{::item.ratings}}/5
                    <br/>
                </p>
                <p>
                    <b>Distance:</b> {{::item.distance}}m
                    <br/>
                </p>
            </div>
            <div clickable ng-click="showMap(item)" align="right">
                <p>
                    <h6 class="padd"> Go!
                    <i class="icon ion-man"></i>
                    <i class="icon ion-woman"></i>
                        </h6>
                </p>
            </div>
        </div>
    </widget-list>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="bathMapsMap.html">
    <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
    <wr>
        <wc>
            <h2>{{detailsItem.title}}</h2>
        </wc>
        <wc>
            <h5>Please rate your bathroom experience:</h5>
            <form action="">
  <input type="radio" name="rating" value="1"> 1 &nbsp;
  <input type="radio" name="rating" value="2"> 2 &nbsp;     
  <input type="radio" name="rating" value="3"> 3 &nbsp;     
  <input type="radio" name="rating" value="4"> 4 &nbsp;    
  <input type="radio" name="rating" value="5"> 5 &nbsp;    
      <br> <br> <input type="submit" class="button btn-lg" value="Submit"> 
      </form>
      </wc>
      
    <wr>
        <wc><span ng-repeat="tag in detailsItem.tags" class="label label-success">{{tag}}</span></wc>
    </wr>
    <wr>
        <wc>
            <div class="pDetails">{{detailsItem.details}}</div>
        </wc>
    </wr>
</script>